name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    # TODO: Change back to @main before merging!
    uses: artsy/duchamp/.github/workflows/tests.yml@pr-review-specialist
